<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <title> Fish-in' Vic <%= typeof tabTitle==='undefined' ? '' : tabTitle %>
    </title>
</head>

<body>
    <h2 class="main-title">Community Catches</h2>
    <nav class="nav-home">
        <a href="/uploadcatch">Upload your catch</a>
    </nav>



    <a href="/fish">Back to Library </a>

    <div class="community-post">
        <% catches.forEach((katch)=> { %>
                <br>
                <a href = "/community/<%=user.username%>"><img src="<%= katch.imgURL%>" class="community-img"></a>
                <br>
                <a class="community-author">
                    <strong><%= katch.author%>:</strong> <%= katch.fish%>
                </a>
                <br>
                <% }) %>
    </div>