<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <title> Fish-in' Vic <%= typeof tabTitle==='undefined' ? '' : tabTitle %>
    </title>
</head>
<%- include('./partials/flash.ejs')%>

    <body>
        <h1 class="main-title">Fish Library</h1>
        <nav id="nav-home">
            <% if (user) { %>
                <p>
                    <%=`Welcome ${user.username}`%>
                </p>
                <a href="/fish/new"> Add a fish</a>
                <br>
                <a href="/community">Community page</a>
                <br>
                <form method="post" action="/logout">
                    <input type="submit" value=<%=`Logout ${user.username}`%>/>


                    <% } else { %>
                        <nav><a href="/register">Register an account</a></nav>
                        <% } %>
        </nav>

        <div class="container">


    
                <% fish.forEach((fish)=> { %>
                    <div class="container-imgs">
                        <a href="/fish/<%= fish._id %>"><img src="<%= fish.img %>" class="fish-images-index"></a>
                        <div class="text-block">
                            <%= fish.name %>
                        </div>
                        <% }) %>
                    </div>
          





            <a href="/fish/0/First"></a>
        </div>