<%- include('./partials/head.ejs')%>

<%- include('./partials/flash.ejs')%>
    <h1>Fish Library</h1>

    <p>
        <% fish.forEach((fish)=> { %>
            <a href="/fish/<%= fish._id %>"><img src="<%= fish.img %>" class = "fish-images"></a>
            <%= fish.name %>
                <% }) %>
    </p>




            <a href="/fish/0/First"></a>