<%- include('./partials/head.ejs')%>
<%- include('./partials/flash.ejs')%>

<h1> <%= fish.name%></h1>
<p>
    <img src = "<%= fish.img %>"class ="fish-images">

    <br>
    <a href = "/fish/<%=fish._id%>/delete" id = "delete-link">Delete: <%=`${fish.name}`%></a>
        <br>
    <a href="/fish/<%=fish._id%>/edit" id = "edit-link">Edit : <%=`${fish.name}`%></a>
        <br>
    <a href = '/fish' id = "home-link">Return to homepage</a>

</p>
<div class = "fish-details">
    <h3>Details</h3>
    <p>
        <strong>Location:</strong> <%=fish.locality%>
        <br>
        <strong>Bait:</strong> <%=fish.bait%>
        <br>
        <strong>Minimum size:</strong> <%=fish.minimumSize%>
        <br>
        <strong>Bag limit:</strong> <%=fish.bagLimit%>
        
    </p>
</div>